.game-header {
    width: 100%;
    height: 3.5em;
    background-color: #263238;
    color: #FFFFFF;
    padding: 12px 24px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 2;
}

.game-title {
    font-size: 200%;
    font-weight: 1000;
    margin: -0.6em;
}

.game-icon {
    height: 7em;
    margin-left: 0.3em;
}

.toggle-players {
    position: absolute;
    right: 0px;
    background: none;
    color: #FFFFFF;
    font-size: 24px;
    cursor: pointer;
    border: none;
    margin-right: 2em;
    margin-top: 0.2em;
    display: inline;
}