.help {
    height: 100%;
    width: 22em;
    background-color: #2a9d8f;
    color: #f1f1f1;
    box-shadow: -3px 0 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    justify-content: flex-start;
    position: fixed;
    right: -22em;
    transition: right 0.3s ease-in-out;
    z-index: 1;
    padding: 1em;
    font-size: 1.2em;
    line-height: 1.5;
}

.help h2 {
    font-size: 1.3em;
    color: #ffd700;
    margin-bottom: 0.5em;
    text-align: left;
}

.help p, .help ul {
    text-align: left;
    width: 100%;
}

.help ul {
    padding-left: 1.2em;
    list-style-position: inside;
}

.help li {
    margin-bottom: 0.6em;
}

.help a {
    color: #ffdd57;
    font-weight: bold;
    text-decoration: underline;
}

.help strong {
    color: #ffdd57;
    font-weight: bold;
}

#help-text p:first-of-type {
    font-weight: bold;
    font-size: 1.15em;
    color: #ffffff;
}

