body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #e9c46a;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

.board-container {
  position: relative;
  width: 90vw;
  height: 90vw;
  margin-top: 20px;
  max-width: 800px;
  max-height: 800px;
}

.chess-board {
  width: 100%;
  height: 100%;
  position: relative;
}

.chessboard-svg-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.players {
  height: 100%;
  width: 20em;
  background-color: #2a9d8f;
  box-shadow: -3px 0 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  right: 0px;
  transition: right 0.3s, display 1s;
  z-index: 1;
}