body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #f0f4f8;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

.board-container {
  position: relative;
  width: 600px;
  height: 600px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.chess-board {
  width: 100%;
  height: 100%;
  position: relative;
}

.chessboard-svg-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.players {
  height: 100%;
  width: 20%;
  background-color: #37474F;
  box-shadow: -3px 0 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  right: 0px;
  transition: right 0.3s, display 1s;
  z-index: 1;
}